block variables

doctype html
html( lang='en' )
	head
		block title
			title= pageName

		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible' content='IE=Edge' )
		meta( charset='utf-8' )

		link( rel='stylesheet', href='css/style.css' )

	body
		#page.page( contenteditable='true' )
			block page

		#frame
			.frame-panel
				.text
				button#copy.button.fa-copy
				button#delete.button.fa-trash-o

		script( src='js/aUtil.js' )
		script( src='js/script.js' )
